.experiences__conteiner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.experiences__conteiner > div {
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.experiences__conteiner > div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.experiences__conteiner > div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.experience__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    column-gap: 1.3rem;
    margin: 0 auto 0 auto;
}


    

.experience__details {
    width: fit-content;
    display: flex;
    gap: 1rem;
}

.experience__details-icon {
    margin-top: 6px;
    color: var(--color-primary);
}

@media screen and (max-width: 1300px) {
    .experiences__conteiner {
        grid-template-columns: 1fr;
    }

    .experiences__conteiner > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .experience__content {
        padding: 1rem;
    }
    
}

@media screen and (max-width: 600px) {
    .experiences__conteiner {
        gap: 1rem;
    }

    .experiences__conteiner > div {
        width: 100%;
        padding: 2rem 1rem;
    }
}