.testemonials__container {
    width: 50%;
    height: fit-content;
    background: var(--color-bg-variant);
    border-radius: 2rem;
}

.testemonial__avatar img {
    width: 6rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color-primary-variant);
}

.testemonial__review {
    margin-bottom: 1rem;
}

.testemonial {
    text-align: center;
    padding: 2rem;
    user-select: none;
    margin-bottom: 1.5rem;
}

.testemonial__review {
    color: var(--color-light);
    font-weight: 300;
    display: block;
    width: 90%;
    margin: 0.8rem auto 0;
}

@media screen and (max-width: 970px) {
    .testemonials__container {
        width: 75%;
    }
}

@media screen and (max-width: 600px) {
    .testemonials__container {
        width: 90%;
    }
}